@model IEnumerable<AccountLibrary.Models.AccountModel>

<table class="table table-striped">
	<tdead class="thead-dark">
		<tr>
			<th>Номер Аккаунта</th>
			<th>Дата открытия</th>
			<th>Площадь</th>
			<th><button type="button" class="btn btn-success mx-2" data-toggle="modal" data-target="#Modal">Добавить</button></th>
		</tr>
	</tdead>
	<tbody id="accountsTableBody">
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.AccountNumber</td>
				<td>@item.StartDate.ToString("dd MMM yyyy")</td>
				<td>@item.RoomArea</td>
				<td><a class="btn btn-secondary mx-2" asp-controller="AccountDetailed" asp-action="Index" asp-route-id="@item.Id">ПОДРОБНЕЕ</a></td>
			</tr>
		}
	</tbody>
</table>
