@model AccountLibrary.BaseClasses.MemberBase

<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalCenterTitle">Новый жилец</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form id="MemberForm">
				<div class="modal-body">
					<table class="table" style="max-width:550px">
						<tr>
							<td>Имя</td>
							<td><input asp-for="Surename" id="NewSurename" class="form-control" required /></td>
						</tr>
						<tr>
							<td>Фамилия</td>
							<td><input asp-for="Name" id="NewName" class="form-control" required /></td>
						</tr>
						<tr>
							<td>Отчесвто</td>
							<td><input asp-for="Patronymic" id="Patronymic" class="form-control" required /></td>
						</tr>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
					<button type="submit" class="btn btn-primary">Добавить</button>
				</div>
			</form>
		</div>
	</div>
</div>
