@using AccountLibrary.Models;
@model IEnumerable<AccountLibrary.Models.AccountModel>
@{
	ViewData["Title"] = "Список ЛС";
}

<div class="text-center">
	@{
		AddressModel address = new AddressModel()
			{
				Street = string.IsNullOrEmpty(Context.Request.Query["Address.Street"]) ? "" : Context.Request.Query["Address.Street"],
				House = string.IsNullOrEmpty(Context.Request.Query["Address.House"]) ? "" : Context.Request.Query["Address.House"],
				Apartment = string.IsNullOrEmpty(Context.Request.Query["Address.Apartment"]) ? "" : Context.Request.Query["Address.Apartment"]
			};

		FilterModel filter = new FilterModel()
			{
				IsNotEmptyMembers = string.IsNullOrEmpty(Context.Request.Query["isNotEmptyMembers"]) ? false : true,
				CertainDate = string.IsNullOrEmpty(Context.Request.Query["certainDate"]) ? null : DateTime.Parse(Context.Request.Query["certainDate"]),
				Address = address,
				AccountNumber = string.IsNullOrEmpty(Context.Request.Query["accountNumber"]) ? "" : Context.Request.Query["accountNumber"],
				Surename = string.IsNullOrEmpty(Context.Request.Query["surename"]) ? "" : Context.Request.Query["surename"],
				Name = string.IsNullOrEmpty(Context.Request.Query["name"]) ? "" : Context.Request.Query["name"],
				Patronymic = string.IsNullOrEmpty(Context.Request.Query["patronymic"]) ? "" : Context.Request.Query["patronymic"],
				RoomArea = string.IsNullOrEmpty(Context.Request.Query["roomArea"]) ? null : float.Parse(Context.Request.Query["roomArea"]),
			};

		await Html.RenderPartialAsync("_SearchBar", filter);
	}
	@{
		await Html.RenderPartialAsync("_AccountsTable", Model);
	}
</div>