@using AccountLibrary.Models;
@model IEnumerable<AccountLibrary.Models.AccountModel>
@{
	ViewData["Title"] = "Список ЛС";
}

<div class="text-center">
	@{
		await Html.RenderPartialAsync("_SearchBar", new FilterModel());
	}
	<table class="table">
		<tdead>
			<tr>
				<th>Номер Аккаунта</th>
				<th>Дата открытия</th>
				<th>Дата закрытия</th>
				<th>Площадь</th>
				<th></th>
			</tr>
		</tdead>
		<tbody id="accountsTableBody">
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.AccountNumber</td>
					<td>@item.StartDate.ToString("dd MMM yyyy")</td>
					<td>@item.EndDate.ToString("dd MMM yyyy")</td>
					<td>@item.RoomArea</td>
					<td><a href="#">ПОДРОБНЕЕ</a></td>
				</tr>
			}
		</tbody>
	</table>
	<button id="nextPageButton">Следующая страница</button>
</div>